<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="/img/263-2633542_cloud-sun-black-and-white-cloud-and-sun.png">

</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="./img/WhatsApp Image 2022-03-04 at 11.33.11 copy.jpeg" alt="my image">
    </div>
    {{>footer}}
</body>

</html>